<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Courses</title>
</head>

<body>
    <% for(let course of courses) {%>
        <a href="/<%=course._id%>/course/view">
            <%= course.title %>
        </a>
        <= View //// Description=>
            <a href="/<%=course._id%>/course/description">
                <%= course.title %>
            </a><br><br>
            <% } %>
</body>

</html>